* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tektur', sans-serif;
  color: #FFF;
}

body{
  background-color: #042a26;
  padding: 2rem;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}